* {
      margin: 0;
      padding: 0;
}

.grid-container {
      display: grid;
      grid-template-columns: 210px 1fr;
      grid-template-rows: 30px 1fr 50px;
      grid-template-areas:
            'sidenav header'
            'sidenav main'
            'sidenav footer';
      height: 100vh;
}

.main {
      grid-area: main;
      padding: 30px 60px;
      background-color: #f1f1f1;
      border-top: black solid;
      border-bottom: black solid;
}
