.header {
      grid-area: header;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      border-bottom: black;
}

.search {
      margin-left: 4px;
}
